
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="booking-form">
						<form #searchForm="ngForm" (ngSubmit)="searchPlane()">
							
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Flying from</span>
										<input class="form-control" type="text" placeholder="City or airport" name="fromCity" id="fromCity" #fromCity=ngModel [(ngModel)]=searchFlight.fromCity>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Flying to</span>
										<input class="form-control" type="text" placeholder="City or airport" name="toCity" id="toCity" #toCity=ngModel [(ngModel)]=searchFlight.toCity>
									</div>
								</div>
							</div>
								<div class="col-md-3">
									<div class="form-btn">
										<button type="submit" class="submit-btn">Show flights</button>
									</div>
								</div>
							
						</form>
					</div>
				</div>
			</div>
		</div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
