<header>
    <nav>
        <div class="row">
            <img src="/assets/img/1logo-white.png" alt="omnifood logo" class="logo">
            <ul class="main-nav">
				<li><a [routerLink]="['/userDashboardPage']">Dashboard</a></li>
                <li><a [routerLink]="['/userProfilePage']">Profile</a></li>
                <li><a [routerLink]="['/userSearchFlightsPage']">Flights</a></li>
                <li><a [routerLink]="['/userBookingsPage']">Bookings</a></li>
                <li><a [routerLink]="['/userCancellationsPage']">Cancellations</a></li>
				<li><a [routerLink]="['/homePage']">Logout</a></li>
            </ul>
        </div>
      </nav>

</header>
<div class="quote">
    <h2 style="color: black;">Welcome!!</h2>
    <h3>"When once you have tasted flight, you will forever walk the earth with your<br> 
        eyes turned skyward, for there you have been, and there you will always long to return."</h3>
</div>
<div class="perspective-text">
  <div class="perspective-line">
    <p></p>
    <p>Reality</p>
  </div>
  <div class="perspective-line">
    <p>Reality</p>
    <p>Is Only</p>
  </div>
  <div class="perspective-line">
    <p>Is Only</p>
    <p>A Matter Of</p>
  </div>
  <div class="perspective-line">
    <p>A Matter Of</p>
    <p>Perception</p>
  </div>
  <div class="perspective-line">
    <p>Perception</p>
    <p></p>
  </div>
</div>


<div class="slider-container">
  <div class="flexbox-slider flexbox-slider-2">
    <div class="flexbox-slide">
      <img src="/assets/img/photo-1536435427574-ed972b0e8ab9.jpg" alt="Slide Image">
      <div class="text-block">
        <h3>Happy Journey</h3>
        <div class="text">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
        </div>
      </div>
    </div>
    <div class="flexbox-slide">
      <img src="/assets/img/photo-1499063078284-f78f7d89616a.jpg" alt="Slide Image">
      <div class="text-block">
        <h3>Surreal</h3>
        <div class="text">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
        </div>
      </div>
    </div>
    <div class="flexbox-slide">
      <img src="/assets/img/photo-1615561916422-7014e1078997.jpg" alt="Slide Image">
      <div class="text-block">
        <h3>Staffs</h3>
        <div class="text">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
        </div>
      </div>
    </div>
    <div class="flexbox-slide">
      <img src="/assets/img/gettyimages-1012124606-612x612.jpg" alt="Slide Image">
      <div class="text-block">
        <h3>Vacation</h3>
        <div class="text">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
        </div>
      </div>
    </div>
    <div class="flexbox-slide">
      <img src="/assets/img/photo-1603792835233-f4f7c2497d4f.jpg" alt="Slide Image">
      <div class="text-block">
        <h3>Slide #5 is here</h3>
        <div class="text">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>
        </div>
      </div>
    </div>
  </div>
</div>

