<!DOCTYPE html>
<html>
    <head>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet">
        
        
        <title>SKVM Flights</title>
    </head>
    
    <body>
        <header>
            <nav>
                <div class="row">
                    <img src="/assets/img/1logo-white.png" alt="omnifood logo" class="logo">
                    <ul class="main-nav">
                        <li><a [routerLink]="['/homePage']">Home</a></li>
                        <li><a [routerLink]="['/aboutUsPage']">About Us</a></li>
                        <li><a [routerLink]="['/searchFlightsPage']">Flights</a></li>
                        <li><a [routerLink]="['/registerPage']">Register</a></li>
                        <li><a [routerLink]="['/loginPage']">Login</a></li>
                        <li><a [routerLink]="['/contactUsPage']">Contact Us</a></li>
                    </ul>
                </div>
            </nav>
            <br>
            <br>
            <br>
            <br>
            <div class="row">
                <h1>Love at first flight.<br>Cheapest flights in India.</h1>
                <a class="btn btn-full" [routerLink]="['/searchFlightsPage']">Search Flights</a>
                <a class="btn btn-ghost" [routerLink]="['/aboutUsPage']">Show me more</a>
            </div>
        </header>

        <br>
        <br>
        <br>
        <br>
        
        <div class="row">
            <router-outlet></router-outlet>
        </div>

        <br>
        <br>
        <br>
        <br>
        
        <footer>
            <div class="row">
                <div class="col span-1-of-2">
                    <ul class="footer-nav">
                        <li><a [routerLink]="['/aboutUsPage']">About us</a></li>
                        <li><a [routerLink]="['/aboutUsPage']">Blog</a></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">iOS App</a></li>
                        <li><a href="#">Android App</a></li>
                    </ul>
                </div>
                <div class="col span-1-of-2">
                    <ul class="social-links">
                        <li><a href="#"><i class="ion-logo-facebook"></i></a></li>
                        <li><a href="#"><i class="ion-logo-instagram"></i></a></li>
                        <li><a href="#"><i class="ion-logo-snapchat"></i></a></li>
                        <li><a href="#"><i class="ion-logo-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <p>Copyright &copy; 2021 by SKVM Arirlines. All rights reserved</p>
            </div>
        </footer>
          
    </body>

</html>