<header>
    <nav>
        <div class="row">
            <img src="/assets/img/1logo-white.png" alt="omnifood logo" class="logo">
            <ul class="main-nav">
				<li><a [routerLink]="['/userDashboardPage']">Dashboard</a></li>
                <li><a [routerLink]="['/userProfilePage']">Profile</a></li>
                <li><a [routerLink]="['/userSearchFlightsPage']">Flights</a></li>
                <li><a [routerLink]="['/userBookingsPage']">Bookings</a></li>
                <li><a [routerLink]="['/userCancellationsPage']">Cancellations</a></li>
				<li><a [routerLink]="['/homePage']">Logout</a></li>
            </ul>
        </div>
      </nav>
</header>

<br>
<br>
<br>
<br>

<h2>Print your Ticket</h2>
<br>
<br>

<button (click)="downloadPDF()">Download As PDF</button>

<div id="table">

    <br>
    <br>
    <br>
    <h3>Booking ID: </h3>
    <br>

    <h3 style="text-decoration: underline;">Your Flight Details are here:  </h3>
    <br>
    <h3>Flight ID: </h3>
    <h3>Source: </h3>
    <h3>Destination: </h3>
    <h3>Departure Date: </h3>
    <h3>Departure Time: </h3>
    <h3>Arrival Time: </h3>
    <br>
    <br>
    <h2>You can View your details here:</h2>

<table style="table-layout:fixed;width:100%;font-size: medium;" >
    <tr class="head">
        <th>Dept. Date</th>
        <th>Dept. Time</th>
        <th>Passenger First Name</th>
        <th>Passenger Last Name</th>
        <th>Passenger Age</th>
        <th>Passenger Gender</th>
        <th>Adult/Child</th>
        <th>Seat Number</th>
        <th>Ticket Price</th>
    </tr>
    <tr>
        <td>01/04/2021</td>
        <td>09:30</td>
        <td>Jack</td>
        <td>Williams</td>
        <td>30</td>
        <td>Male</td>
        <td>Adult</td>
        <td>7B</td>
        <td>2000</td>
    </tr>
    <tr>
      <td>01/04/2021</td>
      <td>09:30</td>
      <td>Jenny</td>
      <td>Williams</td>
      <td>29</td>
      <td>Female</td>
      <td>Adult</td>
      <td>7C</td>
      <td>2000</td>
  </tr>
</table>
</div>

