<header>
    <nav>
        <div class="row">
            <img src="/assets/img/1logo-white.png" alt="omnifood logo" class="logo">
            <ul class="main-nav">
				        <li><a [routerLink]="['/userDashboardPage']">Dashboard</a></li>
                <li><a [routerLink]="['/userProfilePage']">Profile</a></li>
                <li><a [routerLink]="['/userSearchFlightsPage']">Flights</a></li>
                <li><a [routerLink]="['/userBookingsPage']">Bookings</a></li>
                <li><a [routerLink]="['/userCancellationsPage']">Cancellations</a></li>
				        <li><a [routerLink]="['/userWalletPage']">Wallet</a></li>
                        <li><a [routerLink]="['/homePage']" href="javascript:void(0);" (click)="logout()">Logout</a></li>
            </ul>
        </div>
      </nav>
</header>
<br>  
<br>
<br>

<h2>Wallet Details..</h2>
<br>
<br>
<div>
    <div>
        <h3>Available Balance: {{user.wallet}} </h3>
    </div>
    <br>
    <br>
    <br>
    <form #walletForm="ngForm" (ngSubmit)="rechargeWallet(walletForm)">
        <div>
            <label for="wname">Name of User (As per Wallet)</label><br>
            <input type="text" placeholder="Name of User" id="wname" name="wname" #wname='ngModel' minlength="3" required [(ngModel)]="wallet.wname"><br>
                <div *ngIf="(wname.dirty||wname.touched) && wname.invalid" style="color: red;border-color: red;">
                    <div *ngIf="wname.errors.required">Required Field</div>
                    <div *ngIf="wname.errors.minlength">Name must be 3 letters</div>
                </div>
        </div>                        
        
        <div >
            
                                       
        

        <div >
            
                <label for="wallet">Amount to be added in wallet</label><br>
               <input type="number" id="wallet" name="wallet" #wallet='ngModel' placeholder="Amount to be recharged" [(ngModel)]="user.wallet" required><br>
                <div *ngIf="(wallet.dirty||wallet.touched) && wallet.invalid" style="color: red;border-color: red;">
                    <div *ngIf="wallet.errors.required"> Amount has to be entered</div>
                </div>      
                                    
        </div>
        <div style="text-align: center;">
            
                <button type="submit" style="width: 150px; height: 70px;">Recharge Wallet</button>
                                    
        </div>

</div>