<header>
    <nav>
        <div class="row">
            <img src="/assets/img/1logo-white.png" alt="omnifood logo" class="logo">
            <ul class="main-nav">
				<li><a [routerLink]="['/userDashboardPage']">Dashboard</a></li>
                <li><a [routerLink]="['/userProfilePage']">Profile</a></li>
                <li><a [routerLink]="['/userSearchFlightsPage']">Flights</a></li>
                <li><a [routerLink]="['/userBookingsPage']">Bookings</a></li>
                <li><a [routerLink]="['/userCancellationsPage']">Cancellations</a></li>
				<li><a [routerLink]="['/homePage']">Logout</a></li>
            </ul>
        </div>
      </nav>
</header>

<br>
<br>
<br>
<br>

<h2>Passengers Details</h2>

<form>
    <div class="container">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Passenger First Name</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label>Passenger Last Name</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label>Passenger Age</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label>Passenger Gender</label>
                <select id="gender" name="gender" class="form-control">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
            </div>
            <div class="form-group col-md-4">
                <label>Passenger DOB</label>
                <input type="date" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label>Adult/Child</label>
                <select id="adch" name="adch" class="form-control">
                    <option value="adult">Adult</option>
                    <option value="child">Child</option>
                  </select>
            </div>
            <div class="form-group col-md-4">
                <span class="btn btn-danger" style="float: inline-start;color: red;text-decoration: seashell;">Delete Passenger Details</span>
            </div>
            <br>
            <br>
            <span class="btn btn-success" style="float: right;color: royalblue;text-decoration: seashell;">Add Passenger</span>
            <br>
            <button class="btn btn-primary">Submit Details</button>
        </div>
    </div>
</form>