<header>
    <nav>
        <div class="row">
            <img src="/assets/img/1logo-white.png" alt="omnifood logo" class="logo">
            <ul class="main-nav">
				<li><a [routerLink]="['/userDashboardPage']">Dashboard</a></li>
                <li><a [routerLink]="['/userProfilePage']">Profile</a></li>
                <li><a [routerLink]="['/userSearchFlightsPage']">Flights</a></li>
                <li><a [routerLink]="['/userBookingsPage']">Bookings</a></li>
                <li><a [routerLink]="['/userCancellationsPage']">Cancellations</a></li>
				<li><a [routerLink]="['/homePage']">Logout</a></li>
            </ul>
        </div>
      </nav>
</header>
